.create-routine .modal-content{
    background-color: rgb(34, 37, 45);
    color: white;
    height: 90%;
}

.test{
    background-color: aqua;
}

.img-thumbnail{
    width: 4em;
}

.cter{
    display: flex;
   justify-content: center;
    background-color: blue;
}

.align-right{
    display: flex;
    justify-content: right;
}

.exercise-row{
    padding: 11px 15px;
    margin: 7px;
    border-radius: 15px;
    background-color: rgb(54, 58, 69);
    display: flex;
    align-items: center;
}

.add-exercise{
    background-color: rgb(114, 113, 113);
    border-image: url("http://i.stack.imgur.com/wLdVc.png") 4 round;

}

.routine-modalContainer, .workouts-selection-container{
    width: 10vw; 
    height: 50vh;
    overflow: auto;
}


.routine-title{
    position: relative;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid white ;
    outline: none;
    width: 100%;
    /* margin-bottom: 20px; */
    font-size: 1.2em;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
}

.up-button, .down-button{
    display: block;
    position: relative;
    width: 12px;
    height: 12px;
    top: 0%;
    left: 50%;
    margin: 2px;
    z-index: 1;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transform: rotate(45deg);
}

.down-button{
    transform: rotate(225deg);
}

.up-button:hover, .down-button:hover, .add-exercise:hover{
    cursor: pointer;
}
