.hcollapse{
    font-size:32px !important;
}
.accordion-button{
    font-size:32px !important;
    color:white !important;
    background-color:#22252D !important;
}
.accordion-body{
    color:white !important;
    background-color:#22252D !important;
}
.accordion-button:not(.collapsed){
    color:white !important;
}
.accordion-item{
    color:white !important;
}
.nav-tabs .nav-link.active,.nav-tabs .nav-item.show .nav-link{
    background-color: unset !important;
}
.helpPageFooter div{
    padding-top:30px;
}