
.settingsPage{
    margin-top:70px;
    min-height: 140vh;
    color: white !important;
    
}

body{
    background-color: #141414 !important;
}


.centerButton{
    width: 80%;
    width: 200px;
    margin: auto;
}
.profileSection {
    
    background-color: rgba(34,37,45,1);
    height: 100%;
    width: 100%;
    border-radius: 12px;

}

@media only screen and (min-width: 0px){
    .profileSection {
        width: 100%;
    }
}

@media only screen and (min-width: 900px){
    .profileSection {
        width: 850px;
    }
}

@media only screen and (min-width: 1200px){
    .profileSection {
        width: 1250px;
    }
}

.changeProfilePicture{
    width: 95%;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;

}