@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
.postBackground{
    background-color: #22252D;
    border-radius: 12px;
    height: 100%;
    width: 100%;
}

.postCreationLabelFont{
}
.labelStyle{
    font-size: 24px;
    font-weight: 600;
}

.formStyle{
    padding: 20px;
}
.form-control{
    background-color: #141414 !important;
    border: none !important;
    border-radius: 12px !important;
}

.uploadBar{
    background-color:  rgba(34,37,45,1);
}
.postButtonStyle{
    background-color:  rgba(34,37,45,1);
    border-radius: 12px;
    border-width: 1px;
    border-color: white;
    width: 100px;
    font-weight: 600;
    font-size: 24px;
}

.rti--container {
    --rti-bg: #141414 !important;
    --rti-border: none !important;
    --rti-main: #141414 !important;
    --rti-radius: 12px !important;
    --rti-s: 6px !important; 
    --rti-tag: #2C3039 !important;
    --rti-tag-remove: #0088FF !important;
  }

  .iconFormat{
    height: 30px;
    width: 30px;
  }