body {
    overflow-x: hidden;
}

.titleLine {
    border-width: 3px;
    width: 28%;
}

.categoryTitleLine {
    border-width: 3px;
    width: 60%;
}

.exploreWorkoutsContainer {
    overflow-y: auto;
    overflow-x: hidden;
    height: 80vh;
    background-color: #141414;
}
.workoutCardImg {
    max-height: 130px; 
    width: 100%; 
    object-fit: Cover;
}
.colWorkout {
    min-width: 200px; 
    max-height: 200px;

}
@media screen and (max-width: 767px) {
    .exploreWorkoutsContainer {
        height: 60vh;
        width: 100%
    }
}