.link{
    color:white;
    text-decoration: none !important;
}

.footer {
    background-color: #212529;
    position: absolute;
    bottom: -1;
    font-size: large;
    left: 0;
    width: 100%;

}