.workoutItemCard {
    margin-bottom: 15px;
    background-color: #363d47 !important;
    transition: 0.3s;
}

.workoutItemCard:hover {
    background-color: #535d6d !important;
}

.workoutItemImg {
    width: 10%;
    margin-right: 15px;
}